{
    {$CADDY_GLOBAL_OPTIONS}

    frankenphp {
        {$FRANKENPHP_CONFIG}
    }
}

http://{$SERVER_NAME:localhost} {
    log {
        format filter {
            wrap console
            fields {
                uri query {
                    replace authorization REDACTED
                }
            }
        }
    }

    encode zstd br gzip

    @static {
        file
        not path /
    }

    handle @static {
        root * /app/public
        file_server
    }

    handle {
        root * /app/public
        php_server
    }
}
